:root{
  --primary-color:#F38181;
  --highlight: #FCE38A;
  --background-color: #EAFFD0;
  --secondary-color: #95E1D3;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,Helvetica,Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.navigation-bar{
  height: 4.5rem;
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
}
.logo-container{
width: 30%;
margin: 1rem;
display: flex;
justify-content: center;
align-items: center;
}
.logo-container>h1{
font-size: 2rem;
font-weight: 800;
text-transform: uppercase;
margin: 0;
text-align: center;
padding: 0.5rem;
/* border: 1px solid var(--highlight); */
}
.nav-container{
  display: flex;
  width: 70%;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
.nav-container>ul{
  list-style-type: none;
  display: flex;
}
.nav-container>ul>li{
 margin:0 2rem;
 font-size: 1.6rem;
 font-weight:600;
 text-transform: uppercase;
 /* border: 1px solid black; */
 padding: 4px;
}

.main-container{
  height: 50rem;
  background-color: var(--background-color);
  margin: 0 0 ;
  display: block;
}

.about-section{
  height: 200px;
  background-color: blanchedalmond;
  display: flex;
  width: 100%;
}
.about-me{
  width: 50%;
  background-color: #F38181;
  padding: 1rem;
}
.about-me>h1,p{
  font-size: 1.6rem;
}

.skills{
  width: 50%;
  background-color: coral;
}


.footer-container{
background-color: var(--primary-color);
display: flex;
width: 100%;
height:200px;
padding: 50px;
}
.footer-container-left{
  display: flex;
  width: 50%;
  flex-direction: column;
  }
.footer-container-right{
  display: flex;
  width: 50%;
  flex-direction: column;
  }
.watermark-text{
text-transform: uppercase;
font-size: 5rem;
font-weight: 800;
color: white;
opacity: 0.5;
}
.footer-year{
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}
ion-icon{
  font-size: 24px;
}
.footer-social>ul{
  list-style-type: none;
  display: flex;
}
.footer-social>ul>li{
 margin:0 2rem 0 0;
}
.footer-partition{
  height: 5px;
  background-color: var(--highlight);
}